@model MingPlayGround.Models.Exercice

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Exercice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationSecondes" class="control-label"></label>
                <input asp-for="DurationSecondes" class="form-control" />
                <span asp-validation-for="DurationSecondes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repetitions" class="control-label"></label>
                <input asp-for="Repetitions" class="form-control" />
                <span asp-validation-for="Repetitions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciceType" class="control-label"></label>
                <select asp-for="ExerciceType" class="form-control">
                    <option value="">-- Select an Item --</option>
                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ItemOptions)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="ExerciceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
